header {
  padding: 0.5em 0;
}

.barra-nav {
  margin: 0.4em 0;
}

.abrir-menu,.fechar-menu {
  font-size: 1.6em;
  text-indent: -999em;
  background: none;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
}

.abrir-menu {
  width: .75em;
  height: 0;
  margin: .5em;
  padding-top: .125em;
  vertical-align: middle;
  border-top: .350em double #000;
  border-bottom: .125em solid #000;
}

.fechar-menu {
  position: relative;
  width: 1em;
  height: 1em;
}

.fechar-menu:before {
  content: '\00D7';
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
}

.logo,.secao {
  padding: 0 1%;
}

.logo {
  width: 200px;
}

.destaques {
  margin-top: 1em;
  flex-wrap: wrap;
}

/*Refatorar com display grid*/
.secao {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%
}

img {
  max-width: 100%;
}

.mini {
  flex-basis: 50%;
}

@media not all and (max-width: 600px){
  .abrir-menu, .fechar-menu {
    display: none;
  }
}

@media(max-width: 600px){
  .barra-nav {
    position: fixed;
    top: 0;
    left: -90%;
    width: 90%;
    max-width: 320px;
    height: 100%;
    margin: 0;
    padding: 1em;
    background: #f0f0f0;
    transition: left 0.3s ease-out;
    z-index: 1;
  }

  .menu-ativo .barra-nav {
    left: 0;
  }

  .menu-ativo:after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: rgba(0,0,0,0.4);
  }

  .menu-principal li {
    width: 100%;
    padding: 1em 0;
  }
}


@media (min-width: 600px) {
  html {
    font-size: 1.125em;
  }

 .barra-nav,.menu-principal {
    display: flex;
    align-items: center;
  }
  .secao {
    flex-basis: 50%;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 1.25em;
  }

  .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }

  .secao {
    flex-basis: 33.333%;
  }
}


